body {
  text-align: center;
}
* {
  list-style-type: none;
  text-decoration: none;
}
li {
  font-weight: bold;
  margin: 5px;
}

ul {
  padding: 12px;
  background: #000;
  display: flex;
  justify-content: center;
}
